<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.rm.module_mine">

    <application
        android:name="debug.MineApplication"
        android:icon="@mipmap/mine_ic_launcher"
        android:label="@string/mine_app_name"
        android:supportsRtl="true"
        android:theme="@style/BusinessAppTheme">
        <!-- ui适配设置-->
        <meta-data
            android:name="design_width_in_dp"
            android:value="375" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="812" />

        <activity android:name="debug.MineMainDebugActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>