<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rm.music_exoplayer_lib">

    <application>
        <service
            android:name="com.rm.music_exoplayer_lib.service.MusicPlayerService"
            android:enabled="true"
            android:exported="false" />
        <receiver android:name=".receiver.PlayReceiver"/>

        <activity
            android:name="com.rm.music_exoplayer_lib.activity.MusicLockActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:taskAffinity="com.rm.module_play"
            android:excludeFromRecents="true"
            android:theme="@style/MusicLockScreenTheme" />

    </application>

</manifest>