<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rm.module_main">

    <application
        android:name="debug.MainApplication"
        android:icon="@mipmap/main_ic_launcher"
        android:label="@string/main_app_name"
        android:theme="@style/BusinessAppTheme">
        <activity android:name="debug.DemoSingleClickVmActivity"></activity>
        <activity android:name="debug.DemoSingleRvActivity" />
        <activity android:name="debug.DataBindVmDemoActivity" /> <!-- ui适配设置 -->
        <meta-data
            android:name="design_width_in_dp"
            android:value="375" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="812" />

        <activity android:name="debug.DemoActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>