<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rm.module_main">

    <application
        android:name="debug.MainApplication"
        android:icon="@mipmap/main_ic_launcher"
        android:label="@string/main_app_name"
        android:theme="@style/BusinessAppTheme">
        <activity android:name="debug.MainMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>