<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.rm.module_home">

    <application
        android:name=".app.HomeApplication"
        android:icon="@mipmap/home_ic_launcher"
        android:label="@string/home_app_name"
        android:theme="@style/BusinessAppTheme">
        <activity android:name=".activity.HomeMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.rm.module_home.TestActivity" />
    </application>
</manifest>