<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rm.module_home">

    <application>

        <!-- 听单 -->
        <activity
            android:name=".activity.menu.HomeMenuActivity"
            android:screenOrientation="portrait" /> <!-- 听单详情 -->
        <activity
            android:name=".activity.menu.HomeMenuDetailActivity"
            android:screenOrientation="portrait" /> <!-- 精品推荐 -->
        <activity
            android:name=".activity.boutique.BoutiqueActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" /> <!-- 榜单 -->
        <activity
            android:name=".activity.HomeTopListActivity"
            android:screenOrientation="portrait" /> <!-- 书籍详情 -->
        <activity
            android:name=".activity.detail.HomeDetailActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/> <!-- 专题列表 -->
        <activity
            android:name=".activity.topic.HomeTopicListActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>