<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rm.module_home">

    <application>
        <!-- 听单-->
        <activity
            android:name="com.rm.module_home.activity.menu.MenuActivity"
            android:screenOrientation="portrait" />
        <!--听单详情-->
        <activity
            android:name="com.rm.module_home.activity.menu.MenuDetailActivity"
            android:screenOrientation="portrait" />
        <!-- 精品推荐-->
        <activity
            android:name="com.rm.module_home.activity.boutique.BoutiqueActivity"
            android:screenOrientation="portrait" />
        <!--榜单-->
        <activity
            android:name="com.rm.module_home.activity.TopListActivity"
            android:screenOrientation="portrait" />
        <!-- 书籍详情 -->
        <activity
            android:name="com.rm.module_home.activity.detail.HomeDetailActivity"
            android:screenOrientation="portrait" />
    </application>
</manifest>