<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rm.module_mine">

    <application>
        <activity
            android:name=".login.LoginActivity"
            android:launchMode="singleTop" />
        <activity android:name=".TestNotActivity"></activity>
        <activity android:name=".TestMineActivity" />
        <activity android:name=".MineActivity" />
        <activity android:name=".activity.MineSettingActivity" />
        <activity android:name=".activity.MinePersonalInfoActivity" />
        <activity android:name=".activity.MinePlaySettingActivity" />
        <activity android:name=".activity.MineDownloadSettingActivity" />
        <activity android:name=".activity.MineAccountSecuritySettingActivity" />
        <activity android:name=".activity.MinePersonalSignatureSettingActivity" />
        <activity android:name=".activity.MineNicknameSettingActivity" />
        <!-- 主播详情 -->
        <activity android:name=".activity.MineMemberActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.rm.listen.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>