<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rm.module_mine">

    <application>
        <activity
            android:name=".login.LoginActivity"
            android:launchMode="singleTop" />
        <activity android:name=".TestNotActivity"></activity>
        <activity android:name=".TestMineActivity" />
        <activity android:name=".MineActivity" />
        <activity android:name=".activity.MineSettingActivity" />
        <activity android:name=".activity.MinePersonalInfoActivity" />
        <activity android:name=".activity.MinePlaySettingActivity" />
        <activity android:name=".activity.MineDownloadSettingActivity" />

    </application>

</manifest>