<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rm.module_mine">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application>
        <activity android:name=".activity.MineVersionUpdateActivity"></activity>
        <activity
            android:name=".login.LoginActivity"
            android:launchMode="singleTop" />
        <activity android:name=".MineActivity" />
        <activity android:name=".activity.MineSettingActivity" />
        <activity android:name=".activity.MinePersonalInfoActivity" />
        <activity android:name=".activity.MineSettingPlayActivity" />
        <activity android:name=".activity.MineSettingDownloadActivity" />
        <activity android:name=".activity.MineSettingAccountSecurityActivity" />
        <activity android:name=".activity.MineSettingPersonalSignatureActivity" />
        <activity android:name=".activity.MineSettingNicknameActivity" /> <!-- 主播详情 -->
        <activity android:name=".activity.MineMemberActivity" />
        <activity android:name=".activity.MineMemberFollowAndFansActivity" />
        <activity android:name=".activity.MineMemberReleaseBooksActivity" />
        <activity android:name=".activity.MineCropActivity" />
        <activity android:name=".activity.MineImageActivity" />
        <activity android:name=".activity.MineAboutUsActivity" />
        <activity android:name=".activity.MimeGetBookActivity" />
        <activity android:name=".activity.MimeFeedbackActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.rm.listen.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>