<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.rm.module_login">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name="debug.LoginApplication"
        android:icon="@mipmap/login_ic_launcher"
        android:label="@string/login_app_name"
        android:theme="@style/BusinessAppTheme"
        android:usesCleartextTraffic="true">
        <!-- ui适配设置-->
        <meta-data
            android:name="design_width_in_dp"
            android:value="375" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="812" />

        <activity android:name="debug.LoginMainDebugActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 验证码登陆 -->
        <activity
            android:name=".activity.LoginByVerifyCodeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <!-- 手机密码登陆 -->
        <activity
            android:name=".activity.LoginByPasswordActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <!-- 验证码输入界面 -->
        <activity
            android:name=".activity.VerificationInputActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <!-- 忘记密码界面 -->
        <activity
            android:name=".activity.ForgetPasswordActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <!-- 重置密码界面 -->
        <activity
            android:name=".activity.ResetPasswordActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />


        <!-- 测试debug界面 -->
        <activity
            android:name="debug.LoginDebugActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity android:name=".activity.CountryListActivity"
            android:screenOrientation="portrait"/>
    </application>
</manifest>