<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.rm.module_listen">

    <application
        android:name=".app.ListenApplication"
        android:allowBackup="true"
        android:icon="@mipmap/listen_ic_launcher"
        android:label="@string/listen_app_name"
        android:supportsRtl="true"
        android:theme="@style/ListenAppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:label">
        <activity android:name=".activity.ListenMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>